<%-include("./partials/head")%>

    <div id="date"></div>

    <section class='home-section'>
        <span id="s1">Office Employee</span>
        <br> <span id="s2">Check-IN & Check-OUT</span>
        <br>
        <span id="s1">PORTAL</span>
        <br>
        <a class="homebtn" href="/home/checkin">Check-IN</a>
        <a class="homebtn" href="/home/checkout">Check-OUT</a>
        <br>
        <a class="homebtn" href="/home/data">Check USERS DATA</a>
    </section>

    <script src="/date.js" async defer></script>
    </body>

    </html>